a.lookup {
    font-family: 'frutiger-bold';
    font-size : 12px;
    color: #316BBE ;
    vertical-align: middle;
  }

  .iconLookup{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;  /* Preferred icon size */
    color: #316BBE;
    margin-left:12px;
    margin-right:8px;
    vertical-align: middle;
  }

  a.lookup:hover {
    font-family: 'frutiger-bold';
    font-size : 12px;
    color: #316BBE ;
    vertical-align: middle;
    text-decoration: underline;
  }

 a {
    text-decoration: none;
}


.textLookup{
  border: 1px solid #CC00FF!important;
  width: 112px!important;
}

.textLookup-error{
  border: 1px solid red!important;
  width: 112px!important;
}