<header class="ogn__header">
  <a href="#end_of_global_nav" class="ogn__skip-nav-link sr-only sr-only-focusable">Skip to Main Content</a>
  <div class="ogn-container ogn-container--clear">
      <a class="logo--optum-header" style="cursor: pointer">
          <img src="../assets/images/OPTUMRx.png" alt="OptumRx" style="max-height: 42px;">
      </a>
      <span class="portal-title">Eligibility</span>
      <div class="ogn__header-right">
          <ul class="ogn__header-link-list">
              <li class="ogn-header-link-list__envir-info">QA</li>
              <li class="ogn-header-link-list__datetime">{{date | date:'dd/MM/yyyy'}} {{date | date:'HH:mm:ss'}}</li>
          </ul>
          <ul class="ogn__header-link-list">
              <li class="ogn-header-link-list__account">Welcome, {{userName}}</li>
              <li class="ogn-header-link-list__help"><a href="#" class="help">Help</a></li>
              <li class="ogn-header-link-list__help"><a href="#" class="help">Sign out</a></li>
          </ul>
      </div>
  </div>
</header> 