 <section class="area no-padding trim--white">
      <div class="ogn__secondary-header ogn-container has-breadcrumbs">
          <div class="ogn__title__left">
              
          </div>
      </div>
  </section>
  <div id="end_of_global_nav" tabindex="-1"></div>
<section class="area no-padding trim--white rx-page-controls">
  <div class="container">
      <div class="rx-grid-view">
          <div class="rx-grid-view--content">
              <div class="row">
                  <div class="col-sm-12 has-padding">
                      <div class="panel trim--transparent typography">
                          <h1 class="h1">Important!</h1>
                          <hr> 
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="page-height">
                    <div class="col-sm-12 has-padding">
                        <h2 class="h2">This application is not mobile-compatible.</h2>
                        <p>Please use a desktop or laptop to access this application.</p>
                      <p>Thank you.</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
 </div>
 </section>

