<a id="top"></a>
<div class="title">
  <div id="end_of_global_nav" tabindex="-1"></div>
  <section class="area no-padding trim--white ">
    <div class="ogn__secondary-header ogn-container has-breadcrumbs">
      <div class="ogn__title__left">
        <h1 class="h1">Eligibility Queue</h1>
      </div>
    </div>
  </section>
</div>

<div id="end_of_global_nav" tabindex="-1"></div>
<div class="form_outer">

  <div>
    <app-form-links></app-form-links>
  </div>

  <div class="form_background">

    <div>
      <app-form-menu></app-form-menu>
      <section class="area no-padding trim--white">
        <div class="ogn__secondary-form ogn-container">
          <div class="content"></div>
        </div>
      </section>
    </div>
    <div [hidden]="loadingData">
        <form-controls
          [recordSessionStorageId]="'eligibilityProfile'"
          [showSave]="false"
          [showCancel]="true"
          [onCancelRoute]="'/s-active-eligibility-profile'"
        >
        </form-controls>
        <!-- End of the buttons and start of the form -->

        <pcag-info
          [platformId]="platformId"
          [carrierId]="carrierId"
          [accountId]="accountId"
          [groupId]="groupId"
        >
        </pcag-info>

        <div>
            <app-form-section-heading></app-form-section-heading>
        </div>

        <div class="row filterQueueContainer">
          <div [ngClass]="isView() ? 'col-12' : 'col-5'">
            <app-filter-panel
              [filterPanelData]="[
                        {filterListName: 'Filter by report name', placeHolderText: 'Filter by report name...', filterType: 'search', filterDefault: true, displayOrder: '1'}
                ]"
            >
            </app-filter-panel>
          </div>

          <div class="col-7 add-new-queue-container-outer row align-items-center" *ngIf="!isView()">
            <label for="addQueueSelect">
              <span id="addQueueSelectLabelText">Add new queue: </span>
            </label>
            <div class="select addQueueSelectContainer">
              <select tabindex="0" [(ngModel)]="selectedReportName" class="form-select-lg" id="addQueueSelect">
                  <option value="" selcted disabled>Select report...</option>
                  <option *ngFor="let reportName of getAvailableReportNames()" [value]="reportName">
                    {{addQueueReportNameSelections[reportName]}}
                  </option>
                </select>
            </div>
            <button class="btn btn--secondary createQueueButton" [ngClass]="{'is-disabled': !selectedReportName}" [disabled]="!selectedReportName" [routerLink]="['/eligibility-queue-detail',{ cid: this.carrierId,aid:this.accountId,gid:this.groupId,pid:this.platformId,rptNm:this.selectedReportName,mode:this.mode }]">Create queue</button>
          </div>

        </div>

        <div class="datatable">
            <!-- ****************** data table begin  ****************** -->
            <mat-table #table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="gear">
                <mat-header-cell *matHeaderCellDef>
                    <span></span>
                  </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-template #popTemplate>
                    <div>
                      <div *ngIf="!isView()">
                        <a class="popoverlink" [routerLink]="['/eligibility-queue-detail',{ cid: this.carrierId,aid:this.accountId,gid:this.groupId,pid:this.platformId,rptNm:row.eqdReportName,mode:'edit' }]">
                          <i class="material-icons iconPopover">create</i>Edit...
                        </a>
                      </div>
                      <div>
                        <a class="popoverlink" [routerLink]="['/eligibility-queue-detail',{ cid: this.carrierId,aid:this.accountId,gid:this.groupId,pid:this.platformId,rptNm:row.eqdReportName,mode:'view' }]">
                          <i class="material-icons iconPopover">search</i>View...
                        </a>
                      </div>
                    </div>
                  </ng-template>
                  <i class="material-icons gear" [ngbPopover]="popTemplate" placement="right" #p="ngbPopover" tabindex="0" popoverDirective>
                    settings</i>
                </mat-cell>
              </ng-container>

              <div class="toprow">
                <ng-container matColumnDef="eqdReportName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header >Report Name </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a class="dtlink" [routerLink]="['/eligibility-queue-detail',{ cid: this.carrierId,aid:this.accountId,gid:this.groupId,pid:this.platformId,rptNm:element.eqdReportName,mode:(isView() ? 'view' : 'edit')}]">{{element.eqdReportName}}</a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eqdOutputQueueName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Output Queue Name</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="text-left">{{element.eqdOutputQueueName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="eqdOutputQueueLibrary">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Output Queue Library</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.eqdOutputQueueLibrary}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="eqdNumberOfCopies">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-align-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copies</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="mat-column-align-center">{{element.eqdNumberOfCopies}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eqdSaveSpoolFile" >
                  <mat-header-cell *matHeaderCellDef mat-sort-header > <div class="align-column-header">Save Spool</div></mat-header-cell>
                  <mat-cell *matCellDef="let element" > <div class="align-column">{{element.eqdSaveSpoolFile }}</div></mat-cell>
                </ng-container>

                <ng-container matColumnDef="eqdHoldSpoolFile">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Hold Spool</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.eqdHoldSpoolFile }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eqdSpoolFileName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header > <div class="align-column-header-forVersion">Spool File Name</div> </mat-header-cell>
                  <mat-cell *matCellDef="let element" > <div class="align-column">{{element.eqdSpoolFileName }}</div> </mat-cell>
                </ng-container>


              </div>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="no-records-message" *ngIf="(dataSource.data.length === 0 || dataSource.filteredData.length === 0) && !loadingData">
              No records found
            </div>
          </div>
          <!-- ******************  data table end   ****************** -->
        <!-- ****************** pagination begin  ****************** -->
        <mat-paginator [pageSize]="10" [hidePageSize]="true" [showFirstLastButtons]="true">
        </mat-paginator>
        <!-- ****************** pagination end    ****************** -->
        <!--First section of C/A/G closed here-->
        <form-controls
          [recordSessionStorageId]="'eligibilityProfile'"
          [showSave]="false"
          [showCancel]="true"
          [onCancelRoute]="'/s-active-eligibility-profile'"
        >
        </form-controls>
    </div>
    <div *ngIf="loadingData">
        <app-loading-indicator></app-loading-indicator>
    </div>
  </div>
</div>
<div class="dateUserStampStyle">
  <br>&nbsp;
</div>

<style>
  @font-face {
    font-family: 'frutiger-bold';
    src: url('../../assets/fonts/optum/frutiger-bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../assets/fonts/optum/frutiger-bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'frutiger-roman';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/optum/frutiger-roman.eot');
    /* IE9 Compat Modes */
    src: url('../../assets/fonts/optum/frutiger-roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../assets/fonts/optum/frutiger-roman.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../assets/fonts/optum/frutiger-roman.ttf') format('truetype');
  }
</style>
