/* Styles for filter */
.addFilterButtonStyle{   
    float: right;   
}

.close-button {
    background: url('/assets/images/close-btn-small.png') no-repeat;
    width:12px;
    height:10px;
    border:0;
    margin:0;
    position: absolute;;
    left: -4px;
    top: -3px;
    display: inline;
}

.filterBox {
    width:220px;
    float:left;
    margin-left: 12px;
    height:36px;
    margin-right: 5px;
    margin-top: 23px;
}

.option{
    color: #000;
}

