<div id="end_of_global_nav" tabindex="-1"></div>
<section class="area no-padding trim--white rx-page-controls">
<div class="container">
  <div class="rx-grid-view">
      <div class="rx-grid-view--content">
          <div class="row">
              <div class="col-sm-12 has-padding">
                  <div class="panel trim--transparent typography">
                      <h1 class="h2">Error</h1><br>
                      <hr> 
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="page-height">
                <div class="col-sm-12 has-padding">
                   <h1 class="h2">We apologize, but we’re experiencing a technical issue.</h1>
                   <p> </p>
                   <p>Please contact technical support for assistance with this issue:</p>
                   <p>{{ msg }}</p>
                   <p>URL: {{ url }}</p> 
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
