 <div> <div id="end_of_global_nav" tabindex="-1"></div>
  <section class="area no-padding trim--white">
      <div class="ogn__secondary-header ogn-container has-breadcrumbs">
          <div class="ogn__title__left">
              <h1 class="h1">My Dashboard</h1>
          </div>
      </div>
  </section>
  <div id="end_of_global_nav" tabindex="-1"></div>
</div>
<section class="area no-padding trim--white rx-page-controls">
  <div class="container">
      <div class="rx-grid-view">
          <div class="rx-grid-view--content">
              <div class="row">
                  <div class="col-sm-12 has-padding">
                      <div class="panel trim--transparent typography">
                          <h2>Step 1: Pick a layout for your dashboard</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="page-height">
                    <div class="col-sm-12 has-padding">
                        <span class="image-block"><a href="#" class="help"><img src="../assets/images/100.jpg" alt="" /></a></span>
                        <span class="image-block"><a href="#" class="help"><img src="../assets/images/50-50.jpg" alt="" /></a></span>
                        <span class="image-block"><a href="#" class="help"><img src="../assets/images/67-33.jpg" alt="" /></a></span>
                        <span class="image-block"><a href="#" class="help"><img src="../assets/images/33-67.jpg" alt="" /></a></span>
                        <span class="image-block"><a href="#" class="help"><img src="../assets/images/33-33-33.jpg" alt="" /></a></span>
                    </div>
                  </div>
              </div>
          </div>
      </div>
 </div>
 </section>
 <div id="end_of_global_nav" tabindex="-1"></div>

