<div class="form">
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <div class="left-control">
        <label>
          <span>Platform</span>
        </label>
      </div>
      <div class="right-control">
        <label>
          {{ platformId }}
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <div class="left-control">
        <label>
          <span>Carrier</span>
        </label>
      </div>
      <div class="right-control">
        <label>{{carrierId}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <div class="left-control">
        <label>
          <span>Account</span>
        </label>
      </div>
      <div class="right-control">
        <label>{{accountId}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <div class="left-control">
        <label>
          <span>Group</span>
        </label>
      </div>
      <div class="right-control">
        <label>{{groupId}}</label>
      </div>
    </div>
  </div>
</div>
