<div class="title">
  <div id="end_of_global_nav" tabindex="-1"></div>
  <section class="area no-padding trim--white ">
    <div class="ogn__secondary-header ogn-container has-breadcrumbs">
      <div class="ogn__title__left">
        <h1 class="h1">Form Style Guide </h1>
      </div>
    </div>
  </section>
</div>
<div>
  <app-form-links></app-form-links>
</div>

<div class="typography form">
  <form action="#" [formGroup]="styleGuideFormGroup"> 
        <div class="row">
                <code>Anjali check your styling here</code>
                <div class="form-group col-xs-12 col-md-12 error">
                    <div class="left-control">
                        <label>
          
                            <span>Check the Error State here</span>
                  
                          </label>
                    </div>
                    <div class="error_message">
                    <div class="right-control">
                        <input type="text" placeholder="" tabindex="0" class="form-input-md">
                    </div>
                    <div class="right-control"></div>
                            <p class="bold_error">This input field has errors</p>
                        
                    </div>
                </div>
              </div>

              <div class="row">
                    <code>Poornima check your styling here</code>
                  <div class="form-group col-xs-12 col-md-12 error">
                      <div class="left-control">
                          <label>
            
                              <span>Error Checkboxes</span>
                             
                            </label>
                      </div>
                      <div class="error_message">
                      <div class="right-control">
                          <div class="field-block">
                              <input type="checkbox" checked="checked" id="checkbox1" tabindex="0">
                              <label class="field-label" for="checkbox1">Choice A</label>
                            </div>
                            <div class="field-block">
                              <input type="checkbox" id="checkbox2" tabindex="0">
                              <label class="field-label" for="checkbox2">Choice B</label>
                            </div>
                            <div class="field-block">
                              <input type="checkbox" id="checkbox3" tabindex="0">
                              <label class="field-label" for="checkbox3">Choice C</label>
                            </div>
                      </div>
                      <div class="right-control error_message">
                      <p class="bold">This field has errors</p>
                      </div>
              </div>
                  </div>
                </div>

                <div class="row">
                        <code>Test Placeholder</code>
                        <div class="form-group col-xs-12 col-md-12">
                            <div class="left-control">
                                <label>
                  
                                    <span>Medium input label</span>
                          
                                  </label>
                            </div>
                            <div class="right-control">
                                <input type="text" placeholder="Medium size box" tabindex="0" class="form-input-md">
                            </div>
                        </div>
                      </div>
                  

    <div class="row">
      <code>Input class: "form-input-xxxs" - 36px</code>
      <div class="form-group col-xs-12 col-md-12">
        <div class="left-control">
            <label>
                <span>Extra extra extra small input label</span>
              </label>
        </div>
        <div class="right-control">
            <input class="form-input-xxxs" type="text" placeholder="" tabindex="0" formControlName="appAlphanumeric" appAlphanumeric>
        </div>appAlphanum
        <!-- <i class="material-icons" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." placement="right" #p="ngbPopover"
        popoverDirective>
            info
            </i> --> 
      </div>
    </div>
    <div class="row">
      <code>Input class: "form-input-xxs" - 56px</code>
      <div class="form-group col-xs-12 col-md-12">
        <div class="left-control">
            <label>
                <span>Extra extra  small input label</span>
              </label>
        </div>
        <div class="right-control">
            <input class="form-input-xxs" type="text" placeholder="" tabindex="0">
        </div>
      </div>
    </div>

    <div class="row">
      <code>Input class: "form-input-xs" - 99px</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>
                  <span>Extra  small input label</span>
                </label>
          </div>
          <div class="right-control">
              <input type="text" placeholder="" tabindex="0" class="form-input-xs">
          </div>
        
      </div>
    </div>
    <div class="row">
      <code>Input class: "form-input-s" - 112px</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>

                  <span>Small input label</span>
        
                </label>
          </div>
          <div class="right-control">
              <input type="text" placeholder="" tabindex="0" class="form-input-s">
          </div>
      </div>
    </div>


    <div class="row">
      <code>Input class: "form-input-md" - 168px</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>

                  <span>Medium input label</span>
        
                </label>
          </div>
          <div class="right-control">
              <input type="text" placeholder="" tabindex="0" class="form-input-md">
          </div>
      </div>
    </div>


    <div class="row">
        <code>Input class: "form-input-lg" - 224px</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>
                  <span>Large input label</span>
                </label>
          </div>
          <div class="right-control">
              <input type="text" placeholder="" tabindex="0" class="form-input-lg">
          </div>
      </div>
    </div>
    <div class="row">
        <code>Input class: "form-input-xl" - 264px</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>

                  <span>Extra large input label</span>
                 
                </label>
          </div>
          <div class="right-control">
              <input type="text" placeholder="" tabindex="0" class="form-input-xl">
          </div>
          <div class="right-control">
            <input type="text" placeholder="" tabindex="0" class="form-input-xl">
        </div>
      </div>
    </div>

<!-- Text Area -->
<div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <div class="field">
        <label for="message">
          <span>Your Message:</span> 
        </label>
        <textarea id="message" aria-describedby="chars-remaining" maxlength="150" rows="3"></textarea>
      </div>
      <div id="chars-remaining">
        <span id="live-region-text" aria-live="polite">
        </span> 
      </div>
    </div>
  </div>
    <!-- select -->

    <div class="row">
        <code>The Select Options show in Inline Block</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>

                  <span>Select One</span>
                </label>
          </div>
          <div class="right-control">
              <div class="field-block">
                  <div class="select">
                    <select required="required" tabindex="0" class=".form-input-s">
                      <option selected="" disabled="" hidden="">Select One</option>
                      <option>Options01</option>
                      <option>Options02</option>
                      <option>Options03</option>
                      <option>Options04</option>
                      <option>Options05</option>
                    </select>
                  </div>
                </div>
          </div>
      </div>
    </div>

    <div class="row">
        <code>The Check Boxes to show in Inline Block</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>

                  <span>Checkboxes</span>
                 
                </label>
          </div>
          <div class="right-control">
              <div class="field-block">
                  <input type="checkbox" checked="checked" id="checkbox1" tabindex="0">
                  <label class="field-label" for="checkbox1">Choice A</label>
                </div>
                <div class="field-block">
                  <input type="checkbox" id="checkbox2" tabindex="0">
                  <label class="field-label" for="checkbox2">Choice B</label>
                </div>
                <div class="field-block">
                  <input type="checkbox" id="checkbox3" tabindex="0">
                  <label class="field-label" for="checkbox3">Choice C</label>
                </div>
          </div>
      </div>
    </div>
<div class="row">
        <code>The Radio Buttons to show in Inline Block</code>
      <div class="form-group col-xs-12 col-md-12">
          <div class="left-control">
              <label>
         
                  <span>Radio Buttons</span>
                
                </label>
          </div>
          <div class="right-control">
              <div class="field-block">
                  <input type="radio" required="" name="radio-set-1" id="radio1" aria-required="true" tabindex="0">
                  <label class="field-label" for="radio1">Radio option A</label>
                </div>
                <div class="field-block">
                  <input type="radio" name="radio-set-1" id="radio2" tabindex="0">
                  <label class="field-label" for="radio2">Radio option B</label>
                </div>
                <div class="field-block">
                  <input type="radio" name="radio-set-1" id="radio3" tabindex="0">
                  <label class="field-label" for="radio3">Radio option C</label>
                </div>
          </div>
      </div>
    </div>
    <br>


     <!-- Categories Member Default -->
     
            <div class="row">
                <div class="form-group col-xs-12 col-md-12">
                    <div class="left-control">
                        <label>
                            <span>SSN</span>
                          </label>
                    </div>
                    <div class="right-control">
                        <div class="field-block ">
                            <div [ngClass]="{'ssn':show}">
                              <div class="select ssn_select ">
                                <select required="required" tabindex="0" placeholder="Select one..." (change)="selectType($event)">
                                  <option selected="" disabled="" hidden="">Select one</option>
                                  <option>D</option>
                                  <option>N</option>
                                  <option>R</option>
                                </select>
                              </div>
                              <ng-container *ngIf="show">
                             <legend class="ssn_legend">Default/replacement value</legend><input type="text" placeholder="xxx--xx-xxxx" tabindex="0" class="form-input-md ssn_input">
                            </ng-container>
                            </div>
                          </div>
                    </div>
                </div>
              </div>
       
     
<!-- new -->

<app-lookup></app-lookup>


    
      <div class="row">
        <code>Numeric Only Input class: "form-input-s" - 112px</code>
        <div class="form-group col-xs-12 col-md-12">
            <div class="left-control">
                <label>
  
                    <span>Small numeric input label</span>
          
                  </label>
            </div>
            <div class="right-control">
                <input type="text" placeholder="" tabindex="0" class="form-input-s" appNumeric>
            </div>
        </div>
      </div>
      <div class="row">
        <code>AlphaNumeric Input class: "form-input-s" - 112px</code>
        <div class="form-group col-xs-12 col-md-12">
            <div class="left-control">
                <label>
  
                    <span>Small alphanumeric input label</span>
          
                  </label>
            </div>
            <div class="right-control">
                <input type="text" placeholder="" tabindex="0" class="form-input-s" formControlName="appAlphanumeric" appAlphanumeric>
            </div>
        </div>
      </div>
      <div class="row">
        <code>AlphaNumeric plus @ # and %: "form-input-s" - 112px</code>
        <div class="form-group col-xs-12 col-md-12">
            <div class="left-control">
                <label>
  
                    <span>Small alphanumeric plus @ # % input label</span>
          
                  </label>
            </div>
            <div class="right-control">
                <input type="text" placeholder="" tabindex="0" class="form-input-s"  formControlName="appAlphanumspec" appAlphanumspec>
            </div>
        </div>
      </div>
      <div class="row">
        <code>SSN Input class: "form-input-s" - 112px</code>
        <div class="form-group col-xs-12 col-md-12">
            <div class="left-control">
                <label>
  
                    <span>SSN</span>
          
                  </label>
            </div>
            <div class="right-control">
                <input type="text" placeholder="" tabindex="0" class="form-input-s" appSsn>
            </div>
        </div>
      </div>
      <div class="row">
        <code>Phone Input class: "form-input-s" - 112px</code>
        <div class="form-group col-xs-12 col-md-12">
            <div class="left-control">
                <label>
  
                    <span>Phone</span>
          
                  </label>
            </div>
            <div class="right-control">
                <input type="text" placeholder="" tabindex="0" class="form-input-s" appPhone>
            </div>
        </div>
      </div> 
  </form>
</div>

<style>
        @font-face {
          font-family: 'frutiger-bold';
          src: 
               url('../../assets/fonts/optum/frutiger-bold.woff') format('woff'), /* Pretty Modern Browsers */
               url('../../assets/fonts/optum/frutiger-bold.ttf')  format('truetype');
        }
          @font-face {
                font-family: 'frutiger-roman';
                font-style: normal;
                font-weight: 400;
                src: url('../../assets/fonts/optum/frutiger-roman.eot'); /* IE9 Compat Modes */
                src: url('../../assets/fonts/optum/frutiger-roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                     url('../../assets/fonts/optum/frutiger-roman.woff') format('woff'), /* Pretty Modern Browsers */
                     url('../../assets/fonts/optum/frutiger-roman.ttf')  format('truetype');
              }
        </style>